.navBar{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: rgb(225, 180, 121);
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}