.navBar{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: rgb(116, 99, 78);
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

h1{
    font-family: 'Tourney', sans-serif;
    color: black;

}

h1:hover{
    color: white;
}

.navBar button{
    background-color: chocolate;
    color: black;
}

.navBar button:hover{

    background-color: black;
    color: chocolate;
}

.navBar h2{
    animation: card-spin infinite 3s linear;
    border: 2px solid black;
    background-color: burlywood;
    border-radius: 45px;
    position:relative;
    left: -40px;
    font-family: 'Noto Color Emoji', sans-serif;
    padding: 3px;

}

.navBar h2:hover{
    animation:none;
    background-color: chocolate;
}
@keyframes card-spin {
    from {
      transform: none;
    }
    to {
      transform: rotateY(360deg);
     
    }

  }